<h1>Eat-Da-Burger!</h1>
<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}
        <form action="burgers/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour It!</button>
        </form>
        
      </li>
    {{/unless}}
  {{/each}}
</ul>
<h2>burgers that are devoured!</h2>
<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>
<h2>Add a Burger</h2>
<form class="create-update-form" action="/burgers" method="POST">
  <div class="form-group">
    <label for="burger_name">Burger Name:</label>
    <input type="text" id="name" name="burger_name">
  </div>
  <button class="btn btn-default btn-lg" type="submit">Add a Burger!</button>
</form>